extends layout

block content
  h1= title
  p Welcome to #{title}
    h1 Breck
      h2 #{breck.sunset}
      h2 #{breck.sunrise}
      h2 #{breck.bomMaxTempF}
      h2 #{breck.bomMinTempF}
      h2 #{breck.topMaxTempF}
      h2 #{breck.topMinTempF}
      h2 #{breck.chanceOfSnow}% Chance of Snow
      h2 #{breck.totalSnowfall_cm}cm Total Snow Fall today
    h1 Vail
      h2 #{vail.sunset}
      h2 #{vail.sunrise}
      h2 #{vail.bomMaxTempF}
      h2 #{vail.bomMinTempF}
      h2 #{vail.topMaxTempF}
      h2 #{vail.topMinTempF}
      h2 #{vail.chanceOfSnow}% Chance of Snow
      h2 #{vail.totalSnowfall_cm}cm Total Snow Fall today
    h1 Beaver Creek
      h2 #{bc.sunset}
      h2 #{bc.sunrise}
      h2 #{bc.bomMaxTempF}
      h2 #{bc.bomMinTempF}
      h2 #{bc.topMaxTempF}
      h2 #{bc.topMinTempF}
      h2 #{bc.chanceOfSnow}% Chance of Snow
      h2 #{bc.totalSnowfall_cm}cm Total Snow Fall today
    h1 Keystone
      h2 #{ks.sunset}
      h2 #{ks.sunrise}
      h2 #{ks.bomMaxTempF}
      h2 #{ks.bomMinTempF}
      h2 #{ks.topMaxTempF}
      h2 #{ks.topMinTempF}
      h2 #{ks.chanceOfSnow}% Chance of Snow
      h2 #{ks.totalSnowfall_cm}cm Total Snow Fall today
    h1 Araphahoe Basin
      h2 #{ab.sunset}
      h2 #{ab.sunrise}
      h2 #{ab.bomMaxTempF}
      h2 #{ab.bomMinTempF}
      h2 #{ab.topMaxTempF}
      h2 #{ab.topMinTempF}
      h2 #{ab.chanceOfSnow}% Chance of Snow
      h2 #{ab.totalSnowfall_cm}cm Total Snow Fall today
