extends layout

block content
  h1= title
  p Welcome to #{title}
    h1 Breck
      h2 #{breck.sunset}
      h2 #{breck.sunrise}
      h2 #{breck.bomMaxTempF}
      h2 #{breck.bomMinTempF}
      h2 #{breck.topMaxTempF}
      h2 #{breck.topMinTempF}
    h1 Vail
      h2 #{vail.sunset}
      h2 #{vail.sunrise}
      h2 #{vail.bomMaxTempF}
      h2 #{vail.bomMinTempF}
      h2 #{vail.topMaxTempF}
      h2 #{vail.topMinTempF}
